<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs',{ pageName :  "New Comment" }) %>

<body> 
 
    <%- include('../partials/nav.ejs') %>


    <h1>Add a comment to the picture!</h1>
    <form class="form" method="POST" action="/user/photos/comments">

        <div class="form-input">
            <label for="username"> Your username: </label>
            <input id="username" name="username" type="text" />
        </div>
        <div class="form-input">
            <label for="comment"> Comment: </label>
            <input id="comment" name="comment" type="text" />
        </div>
        <div class="form-input">
            <label for="user"></label>
            <input id="user" name="user" type="hidden" value="<%= photo.user._id %>"/>
        </div>
        <div class="form-input">
            <label for="photo"></label>
            <input id="photo" name="photo" type="hidden" value="<%= photo._id %>"/>
        </div>
        <input class="add-button" type="submit" value="Add Comment"/>
    </form>
    <%- include('../partials/footer.ejs') %>
</body>

</html>