<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs',{ pageName :  "Home" }) %>

<body> 
 
    <%- include('partials/nav.ejs') %>

    <main class="container flex">  
        <% for (let i = 0; i < users.length; i++)  { %>
            <a href="/user/<%= users[i]._id %>">
                <div>
                    <div>
                        <h2><%= users[i].username %></h2>
                    </div>
                    <div>
                        <img class="user-image" src="<%= users[i].image %>" alt="Picture of <%= users[i].username %>">
                    </div>

                </div>
            </a>            
        <% } %>

        <a href="/user/new"><button class="button is-primary">Make a new user account</button></a>

    </main>

    <%- include('partials/footer.ejs') %>

</body>

</html> 