<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body> 
    <%- include('../partials/nav.ejs') %>
   

    <section class="container">
        <div class="columns is-multiline">
            <div class="main-page-user column is-12-mobile is-6-tablet">
                <div class="user-div">
                    <img class="small-user-image" src="<%= oneUser.image %>" alt="Picture of <%= oneUser.username %>">
                    <h2><%= oneUser.username %></h2>
                    <div>
                        <a href="/user/<%= oneUser._id %>/edit"><button class="button is-primary is-small">Click here to change your profile picture</button></a>
                    </div>      
                    <div>
                        <form method="POST" action="/user/<%=oneUser._id%>?_method=DELETE">
                            <input class="button is-danger is-small" type="submit" value="Delete Profile"/>
                        </form>
                    </div>
                </div>
            </div>
    
            <main class="container flex user column is-12-mobile is-10-tablet">  
                <div>
                    <a href="/user/photos/new/<%= oneUser._id %>"><button class="button is-info">Upload a Picture!</button></a>
                </div>
        
                <section>
                    <div class="columns is-multiline">
                        <% for (let i = 0; i < photos.length; i ++) { %>
                            <div class="column is-4-tablet">
                                <a class="has-ratio is-1by1" href="/user/photos/<%= photos[i]._id %>">
                                    <div class="photo-caption-div">
                                        <img src="<%= photos[i].image %>" alt="an image" />
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </section>
            </main>
        </div>
    
    </section>
</body>
</html>