<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body> 
    <section>
        <div class="main-page-title">
            <div>
                <h1 class="title">Welcome to IG 2.0</h1>
            </div>
            <div>
                <p>Login</p>
                <p>Register</p>                
            </div>
        </div>
</section>

<main class="container">  
    <div class="main-page-user">
        <div>
            <img class="user-image" src="<%= oneUser.image %>" alt="Picture of <%= oneUser.username %>">
        </div>
        <div>
            <h2><%= oneUser.username %></h2>
        </div>
    </div>         
    <a href="/user/<%= oneUser._id %>/edit"><button>Click here to change your profile picture</button></a>
    <div>
       <a href="/user/photos/new/<%= oneUser._id %>"><button>Upload a Picture!</button></a>
    </div>
    <div>
        <form method="POST" action="/user/<%=oneUser._id%>?_method=DELETE">
            <input class="delete-button" type="submit" value="Delete Profile"/>
        </form>
    </div>

    <section>
        <div picture-grid-div>

        </div>
    </section>
</main>


</body>

</html>