<!-- <!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', { pageName: "Update Profile" }) %>

<body>
    <%- include('../partials/nav.ejs') %>


    <div> 
        <form method="POST" action="/user/<%=user._id%>?_method=PUT">
        <div>
            <label>Photo image</label>
            <input type="text" name="image" value="<%= photo.image%>"/>
        </div>
        <div>
            <input type="submit" value="Update Profile: <%= user.name%>"/>
        </div>
    </div>  

</body>
</html> -->