<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>
    
<body>
        
        <%- include('../partials/nav.ejs') %>

    <section>
        <a href="/user/<%= onePhoto.user._id %>">
            <img class="small-user-image" src="<%= onePhoto.user.image %>" alt="<%= onePhoto.user.username %>'s image">
            <%= onePhoto.user.username %>
        </a>
        <h2>look 👀</h2>
            <div>
                <section>
                    <div picture-grid-div>                      
                            <div>
                                <img src="<%= onePhoto.image %>" alt="an image" />                                    
                            </div>              
                    </div>
                </section>
                <div>
                    <a href="/user/photos/comments/new/<%= onePhoto._id %>"><button>Add a Comment!</button></a>
                </div>
                <div>
                    <p>Comments:</p>
                    <% for (let i = 0; i < comments.length; i++) { %>
                        <p><%= comments[i].username %> commented:</p>
                        <div class="comment-div">                            
                            <p><%= comments[i].comment %></p>
                            <form method="POST" action="/user/photos/comments/<%=comments[i]._id%>?_method=DELETE">
                                <input class="delete-button" type="submit" value="Delete Comment"/>
                            </form>
                        </div>
                    <% } %>
                </div>
                <!-- <div>
                    <input type="submit" value="Edit Comment: <%= onePhoto.name%>"/>
                </div> -->                
                <div>
                    <form method="POST" action="/user/photos/<%=onePhoto._id%>?_method=DELETE">
                        <input class="delete-button" type="submit" value="Delete Picture"/>
                    </form>
                </div>
             </div>         
    </section> 
    <%- include('../partials/footer.ejs') %>
</body>

</html>