<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>
    
<body>
        
        <%- include('../partials/nav.ejs') %>

    <section>
        <h2>look 👀</h2>        
            <div>
                <section>
                    <div picture-grid-div>                      
                            <div>
                                <img src="<%= onePhoto.image %>" alt="an image" />                                    
                            </div>              
                    </div>
                </section>
                <!-- <div>
                    <input type="submit" value="Edit Comment: <%= onePhoto.name%>"/>
                </div> -->

                <div>
                    <form method="POST" action="/user/photos/<%=onePhoto._id%>?_method=DELETE">
                        <input class="delete-button" type="submit" value="Delete Picture"/>
                    </form>
                </div>
             </div>         
    </section> 
</body>

</html>